DUTY_AUTH_SECRET=replace-with-a-long-random-secret
USER1_USERNAME=admin
USER1_PASSWORD=change-me
USER1_NAME=Administrator
USER1_ROLE=admin
USER2_USERNAME=user2
USER2_PASSWORD=change-me
USER2_NAME=User 2
USER2_ROLE=user
USER3_USERNAME=user3
USER3_PASSWORD=change-me
USER3_NAME=User 3
USER3_ROLE=user
USER4_USERNAME=user4
USER4_PASSWORD=change-me
USER4_NAME=User 4
USER4_ROLE=user
USER5_USERNAME=user5
USER5_PASSWORD=change-me
USER5_NAME=User 5
USER5_ROLE=user
